nav,
.contact #card-panel {
  background-color: #72c32c;
}

.slider h3,
.slider h5,
.clients {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.about h3,
.services h3,
.portfolio h3,
.contact h3 {
  color: #2e4aa7;
}

.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

.clients img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

section {
  padding: 20px 0;
}

footer {
  padding: 20px 0;
  background-color: #72c32c;
}

#cpfooter {
  color: red;
}

.pical {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
